@font-face {
    font-family: "Tektur";
    src: url(../fonts/Tektur-VariableFont_wdth\,wght.ttf);
}

:root {

    /* global settings */
    font-family: "Tektur";
    color: var(--color-white);
    scroll-behavior: smooth;
    scroll-padding: 10px;

    background-color: var(--color-bg);

    /* navbar */
    --navbar-height: 4rem;

    /* defining color palette */
    --color-bg: #20252A;
    --color-white: #E2E6E9;
    --color-accent-1: #084444;
    --color-accent-2: #6D6DC5;
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a { all: unset; cursor: pointer; display: inline-block; }

body { font-size: 0; }
body > * { font-size: initial; }

nav {
    background-color: var(--color-bg);
    position: fixed;

    font-size: 1.4rem;
    min-height: var(--navbar-height);
    min-width: 100%;

    padding: 0 20px; /* padding: top_&_bottom right_&_left */

    display: flex;
    align-items: center;

    border-bottom: 8px solid var(--color-accent-1);

    z-index: 10;
}
x-nav-spacer {
    opacity: 0;
    display: block;
    height: var(--navbar-height);
}

.nav-buttons {

    flex-grow: 1;
    text-align: right;
}
.nav-buttons a {
    margin-left: 16px;
}

.bg-img {
    width: 100%;
}

main {
    margin-top: var(--navbar-height);

    margin: 0 auto;
    padding: 20px 20px;

    font-size: initial;

    box-shadow: 0 0 10px var(--color-accent-1);
}
@media screen and (min-width: 1000px) {
    main { max-width: 70vw; }
}

main section { margin: 4rem 0; }

span.accent-2 { color: var(--color-accent-2); }

#introduction-section h1 { text-align: center; }

#introduction-section p { margin: 16px 0; }

.btn-animated {
    margin: 20px 10px;
    padding: 5px 10px;
    border: 2px solid var(--color-accent-2);

    transition: transform .5s;
}
.btn-animated:hover { transform: scale(1.1); }

